h1, h2, h3 {
  margin-bottom: 1rem;
}

.work-experience, .professional-development {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.work-experience-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-experience-list li {
  margin-bottom: 0.5rem;
}

.fa-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #333; /* Adjust icon color as needed */
}
